USE [master]
GO
/****** Object:  Database [InternalRequisitionsDB]    Script Date: 26/06/2019 10:35:45 ******/
CREATE DATABASE [InternalRequisitionsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InternalRequisitionsDB', FILENAME = N'C:\Users\leonardo.magalhaes\InternalRequisitionsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InternalRequisitionsDB_log', FILENAME = N'C:\Users\leonardo.magalhaes\InternalRequisitionsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InternalRequisitionsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InternalRequisitionsDB]
GO
USE [InternalRequisitionsDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 26/06/2019 10:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInvoices]    Script Date: 26/06/2019 10:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInvoices](
	[Product_Id] [bigint] NOT NULL,
	[Invoice_Id] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.ProductInvoices] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC,
	[Invoice_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductRequests]    Script Date: 26/06/2019 10:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductRequests](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Product_Id] [bigint] NULL,
	[Request_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.ProductRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBInvoices]    Script Date: 26/06/2019 10:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBInvoices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Sequence] [nvarchar](max) NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Provider_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.TBInvoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBProducts]    Script Date: 26/06/2019 10:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBProducts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Enabled] [bit] NOT NULL,
	[Unit_Id] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.TBProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbProvider]    Script Date: 26/06/2019 10:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbProvider](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CNPJ] [nvarchar](max) NOT NULL,
	[Telephone] [nvarchar](max) NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TbProvider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBRequests]    Script Date: 26/06/2019 10:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBRequests](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DateRequest] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[AcceptanceDate] [datetime] NULL,
	[DeliveryDate] [datetime] NULL,
	[User_Id] [bigint] NOT NULL,
	[Product_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.TBRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBUnits]    Script Date: 26/06/2019 10:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBUnits](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TBUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/06/2019 10:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CPF] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Birth] [datetime] NOT NULL,
	[LandLine] [nvarchar](max) NULL,
	[CellPhone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Group] [int] NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ProductInvoices] ([Product_Id], [Invoice_Id]) VALUES (1, 1)
SET IDENTITY_INSERT [dbo].[ProductRequests] ON 

INSERT [dbo].[ProductRequests] ([Id], [Quantity], [Product_Id], [Request_Id]) VALUES (1, 5, 1, 1)
INSERT [dbo].[ProductRequests] ([Id], [Quantity], [Product_Id], [Request_Id]) VALUES (2, 5, 1, 2)
INSERT [dbo].[ProductRequests] ([Id], [Quantity], [Product_Id], [Request_Id]) VALUES (3, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[ProductRequests] OFF
SET IDENTITY_INSERT [dbo].[TBInvoices] ON 

INSERT [dbo].[TBInvoices] ([Id], [Number], [Name], [Sequence], [Value], [Date], [Provider_Id]) VALUES (1, N'nota fiscal leonardo', N'', N'123564685689', CAST(10000.00 AS Decimal(18, 2)), CAST(N'2019-06-19T09:45:22.947' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TBInvoices] OFF
SET IDENTITY_INSERT [dbo].[TBProducts] ON 

INSERT [dbo].[TBProducts] ([Id], [Name], [Description], [Enabled], [Unit_Id]) VALUES (1, N'Caneta', N'Bic Azul', 0, 2)
SET IDENTITY_INSERT [dbo].[TBProducts] OFF
SET IDENTITY_INSERT [dbo].[TbProvider] ON 

INSERT [dbo].[TbProvider] ([Id], [Name], [CNPJ], [Telephone], [Enabled]) VALUES (1, N'Leonardo Fornecedor', N'12,345,678/9202-36', N'1223256455', 1)
SET IDENTITY_INSERT [dbo].[TbProvider] OFF
SET IDENTITY_INSERT [dbo].[TBRequests] ON 

INSERT [dbo].[TBRequests] ([Id], [DateRequest], [Status], [AcceptanceDate], [DeliveryDate], [User_Id], [Product_Id]) VALUES (1, CAST(N'2019-06-19T09:47:12.277' AS DateTime), 1, CAST(N'2019-06-19T09:47:20.927' AS DateTime), CAST(N'2019-06-26T10:07:47.230' AS DateTime), 3, NULL)
INSERT [dbo].[TBRequests] ([Id], [DateRequest], [Status], [AcceptanceDate], [DeliveryDate], [User_Id], [Product_Id]) VALUES (2, CAST(N'2019-06-19T09:50:16.273' AS DateTime), 3, CAST(N'2019-06-19T09:59:01.517' AS DateTime), CAST(N'2019-06-26T10:10:20.190' AS DateTime), 1, NULL)
INSERT [dbo].[TBRequests] ([Id], [DateRequest], [Status], [AcceptanceDate], [DeliveryDate], [User_Id], [Product_Id]) VALUES (3, CAST(N'2019-06-19T10:16:01.950' AS DateTime), 4, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[TBRequests] OFF
SET IDENTITY_INSERT [dbo].[TBUnits] ON 

INSERT [dbo].[TBUnits] ([Id], [Name]) VALUES (1, N'Caixa')
INSERT [dbo].[TBUnits] ([Id], [Name]) VALUES (2, N'Unidade')
INSERT [dbo].[TBUnits] ([Id], [Name]) VALUES (3, N'Litro')
SET IDENTITY_INSERT [dbo].[TBUnits] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [CPF], [Gender], [Birth], [LandLine], [CellPhone], [Email], [Department], [Group], [Password], [Enabled]) VALUES (1, N'Leonardo', NULL, NULL, CAST(N'1996-04-10T00:00:00.000' AS DateTime), NULL, NULL, NULL, N'Recepção', 2, N'leonardo', 0)
INSERT [dbo].[Users] ([Id], [Name], [CPF], [Gender], [Birth], [LandLine], [CellPhone], [Email], [Department], [Group], [Password], [Enabled]) VALUES (2, N'almox', NULL, NULL, CAST(N'1996-04-10T00:00:00.000' AS DateTime), NULL, NULL, NULL, N'Almoxarifado', 1, N'almox', 0)
INSERT [dbo].[Users] ([Id], [Name], [CPF], [Gender], [Birth], [LandLine], [CellPhone], [Email], [Department], [Group], [Password], [Enabled]) VALUES (3, N'admin', NULL, NULL, CAST(N'1996-04-10T00:00:00.000' AS DateTime), NULL, NULL, NULL, N'Administradores', 0, N'admin', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Invoice_Id]    Script Date: 26/06/2019 10:35:46 ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_Id] ON [dbo].[ProductInvoices]
(
	[Invoice_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 26/06/2019 10:35:46 ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[ProductInvoices]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 26/06/2019 10:35:46 ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[ProductRequests]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Id]    Script Date: 26/06/2019 10:35:46 ******/
CREATE NONCLUSTERED INDEX [IX_Request_Id] ON [dbo].[ProductRequests]
(
	[Request_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Provider_Id]    Script Date: 26/06/2019 10:35:46 ******/
CREATE NONCLUSTERED INDEX [IX_Provider_Id] ON [dbo].[TBInvoices]
(
	[Provider_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Unit_Id]    Script Date: 26/06/2019 10:35:46 ******/
CREATE NONCLUSTERED INDEX [IX_Unit_Id] ON [dbo].[TBProducts]
(
	[Unit_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 26/06/2019 10:35:46 ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[TBRequests]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 26/06/2019 10:35:46 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[TBRequests]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductInvoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductInvoices_dbo.TBInvoices_Invoice_Id] FOREIGN KEY([Invoice_Id])
REFERENCES [dbo].[TBInvoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductInvoices] CHECK CONSTRAINT [FK_dbo.ProductInvoices_dbo.TBInvoices_Invoice_Id]
GO
ALTER TABLE [dbo].[ProductInvoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductInvoices_dbo.TBProducts_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[TBProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductInvoices] CHECK CONSTRAINT [FK_dbo.ProductInvoices_dbo.TBProducts_Product_Id]
GO
ALTER TABLE [dbo].[ProductRequests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductRequests_dbo.TBProducts_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[TBProducts] ([Id])
GO
ALTER TABLE [dbo].[ProductRequests] CHECK CONSTRAINT [FK_dbo.ProductRequests_dbo.TBProducts_Product_Id]
GO
ALTER TABLE [dbo].[ProductRequests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductRequests_dbo.TBRequests_Request_Id] FOREIGN KEY([Request_Id])
REFERENCES [dbo].[TBRequests] ([Id])
GO
ALTER TABLE [dbo].[ProductRequests] CHECK CONSTRAINT [FK_dbo.ProductRequests_dbo.TBRequests_Request_Id]
GO
ALTER TABLE [dbo].[TBInvoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBInvoices_dbo.TbProvider_Provider_Id] FOREIGN KEY([Provider_Id])
REFERENCES [dbo].[TbProvider] ([Id])
GO
ALTER TABLE [dbo].[TBInvoices] CHECK CONSTRAINT [FK_dbo.TBInvoices_dbo.TbProvider_Provider_Id]
GO
ALTER TABLE [dbo].[TBProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBProducts_dbo.TBUnits_Unit_Id] FOREIGN KEY([Unit_Id])
REFERENCES [dbo].[TBUnits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBProducts] CHECK CONSTRAINT [FK_dbo.TBProducts_dbo.TBUnits_Unit_Id]
GO
ALTER TABLE [dbo].[TBRequests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBRequests_dbo.TBProducts_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[TBProducts] ([Id])
GO
ALTER TABLE [dbo].[TBRequests] CHECK CONSTRAINT [FK_dbo.TBRequests_dbo.TBProducts_Product_Id]
GO
ALTER TABLE [dbo].[TBRequests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBRequests_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBRequests] CHECK CONSTRAINT [FK_dbo.TBRequests_dbo.Users_User_Id]
GO
USE [master]
GO
